body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  



  /*
   * Content
   */

.sidebar-profile {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 10px;
}

  
  [role="main"] {
    padding-top: 66px; /* Space for fixed navbar */
  }
  
  @media (min-width: 768px) {
    [role="main"] {
      padding-top: 48px; /* Space for fixed navbar */
    }
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }



  /* Game Styles */


/* card styles */
.question-card {
  background-color: black;
  color: white;
}
.answer-card {
  background-color: white;
  color: black;
}


/* XS */

.x-scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 5px 10px 5px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.x-scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
.x-scrolling-wrapper .card {
  flex: 0 0 auto;
}



.game-card {
  margin: 3px;
  width: 150px;
  height: 215px;
  -webkit-box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
  -moz-box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
  box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
}
.game-card-body {
  padding: 10px !important;
  font-size: 0.7rem;
  white-space: normal;
}
.card-text-question {
  font-weight: 400;
}
.card-text-answer {
  font-weight: 400;
}
.card-chosen-answer{
  height: 175px;
  width: 115px;
}
@media screen and (min-width: 700px) {
  /* SM */
  #answer-table {
    padding-left: 30px;
  }
  .game-card {
    width: 200px;
    height: 290px;
  }
  .game-card-body {
    padding: 17px !important;
    font-size: 1rem;
  }
  .card-text-question {
    font-weight: 600;
  }
  .card-text-answer {
    font-weight: 600;
  }
  .card-chosen-answer{
    height: 235px;
    width: 160px;
  }
  #my-cards .x-scrolling-wrapper {
    display: block;
    width: 100%;
    padding: 10px 5px 10px 5px;
    margin: auto!important;
  }
  #my-cards .x-scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  #my-cards  .x-scrolling-wrapper .card {
    float: left;
  }


}


@media screen and (min-width: 991px) {
/* MD */
#answer-table .x-scrolling-wrapper {
  display: block;
  width: 100%;
  padding: 10px 5px 10px 5px;
  margin: auto!important;
}
#answer-table .x-scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
#answer-table .x-scrolling-wrapper .card {
  float: left;
}
}

@media screen and (min-width: 1350px) {
/* LG */
.x-scrolling-wrapper .card {
    margin: 25px;
    transform: scale(1.15);
}

}

.current-question {
  margin: auto !important;

}


/* Card wrappers */
/* */

.contacts_body{
  padding:  0.6rem 0.6rem ;
}

.contacts{
  list-style: none;
  padding: 0;
}
.contacts li{
  width: 100% !important;
  padding: 5px 5px;
  margin-bottom: 5px;
}

.user-image{
  height: 50px;
  width: 50px;
  -webkit-box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
  -moz-box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
  box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
}
.user_info{
  margin-left: 10px;
}
.user_info span{
  font-size: 0.85rem;
  color: black;
}
.user_info p{
font-size: 0.65rem;
margin-bottom: 0px !important;
color: rgba(0, 0, 0, 0.6);
}

.active {
  background-color: black;
  border-radius: 10px;
}
.active i {
  color: gold;
}
.active span, .active p  {
  color:white!important;
}
.active span {
  font-weight: 900;
}
.active .user-image{
  border: 5px solid white;
}


.game-password{
  margin-bottom: 30px!important;
}
.game-password span{
  font-weight: 900;
  font-size: 1rem;
  color: black;
}
.game-password p{
font-size: 1rem;
margin-bottom: 0px !important;
color: rgba(0, 0, 0, 0.6);
}