body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /* Game Styles */


/* card styles */
.question-card {

  background-color: #2f3c54;
  color: white;
  width: 130px;
  height: 200px;
}
.answer-card {
  background-color: white;
  color: #2f3c54;
  width: 130px;
  height: 200px;
}


/* XS */

.x-scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  /* padding: 10px 5px 10px 5px; */
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.x-scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
.x-scrolling-wrapper .card {
  flex: 0 0 auto;
}




.game-card {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  border-radius: 0.7rem;
  margin: 3px;
  -webkit-box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
  -moz-box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
  box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
}
.game-card-body {
  padding: 10px !important;
  font-size: 0.7rem;
  white-space: normal;
}
.card-text-question {
  font-weight: 400;
}
.card-text-answer {
  font-weight: 400;
}
.card-chosen-answer{
  width: 130px;
  height: 200px;
}

.card-backs.x-scrolling-wrapper {
  display: block;
  width: 100%;
  transform: translateY(-11px);
  /* padding: 10px 5px 15px 5px; */
  margin: auto!important;
}
.card-backs.x-scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.card-back {
  width: 75px;
  height: 105px;
  border-radius: 6px;
}
.back-answer-pair {
float: left;

}
.card-back .game-card-body{
  padding: 5px !important;
  top: 20%;
  text-align: center!important;
  position: absolute;
  font-size: 0.55rem;
}


.pick-2-back{
 margin-top: -50px;
}

.backs-row {
  width: max-content;
  float: left;
}

@media screen and (min-height: 700px) and (min-width: 350px) {

#my-cards .x-scrolling-wrapper {
  display: block;
  width: 100%;
  /* padding: 10px 5px 10px 5px; */
  margin: auto!important;
}
#my-cards .x-scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
#my-cards  .x-scrolling-wrapper .card {
  float: left;
}

}
/* @media screen and (min-width: 350px) and (max-width: 405px) {
  .answer-card { 
    width: 130px;
    height: 200px;
  }
} */



@media screen and (min-width: 370px) {
  .question-card {
    width: 160px;
    height: 224px;
  }
  .game-card-body {
    padding: 12px !important;

    font-size: 0.75rem;
  }
  .card-text-question, .card-text-answer {
    font-weight: 500;
  }
}

@media screen and (min-width: 390px) {
  .question-card {
    width: 180px;
    height: 252px;
  }
  .game-card-body {
    padding: 14px !important;

    font-size: 0.85rem;
  }
  .card-text-question, .card-text-answer {
    font-weight: 500;
  }
}

@media screen and (min-width: 750px) {
  /* SM */
  #answer-table {
    padding-left: 30px;
  }
  .answer-card {
    width: 200px;
    height: 280px;
  }
  .question-card {
    width: 200px;
    height: 280px;
  }
  .game-card-body {
    padding: 17px !important;
    font-size: 1rem;
  }
  .card-text-question, .card-text-answer {
    font-weight: 600;
  }
  .card-chosen-answer{
    width: 200px;
    height: 280px;
  }
  .card-back {
    width: 100px;
    height: 140px;
    border-radius: 8px;
  }
  .card-back .game-card-body{
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.6rem;
  }


}


@media screen and (min-width: 991px) {
/* MD */
#answer-table .x-scrolling-wrapper {
  display: block;
  width: 100%;
  padding: 10px 5px 10px 5px;
  margin: auto!important;
}
#answer-table .x-scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
#answer-table .x-scrolling-wrapper .card {
  float: left;
}


}

@media screen and (min-width: 1350px) {
/* LG */
/* #my-cards .x-scrolling-wrapper .card {
    margin: 25px;
    transform: scale(1.15);
}
.x-scrolling-wrapper .card-chosen-answer {
  margin: 20px;
  transform: scale(1.10);
}
.x-scrolling-wrapper .card.card-back {
  margin: 15px 10px;
  transform: scale(1.10);
} */
/* .question-card {
  width: 230px;
  height: 320px;
} */
.pick-2-back{
  margin-top: -70px !important;
 }

}

.current-question {
  margin: auto !important;
 
}


/* Card wrappers */
/* */

.navbar .x-scrolling-wrapper {
  padding-top: 0px;
  padding-left: 0px;
}





@media screen and (orientation:portrait) { 
  #write-answer-modal-dialog, #write-answer-modal-content {
  width: 90% !important;
  margin: auto;
} 
}
 @media screen and (orientation:landscape) { 
  #write-answer-modal-dialog, #write-answer-modal-content {
    
    height: 90% !important;
    margin: auto;
  } 
  }

#write-answer-modal-dialog .modal-body {
  padding: 0px!important;
}

.write-answer-input{
  padding: 25px 30px;
  font-size: 1.4rem;
  color: black!important;
  font-weight: 800;
  height: 100%!important;
}
@media screen and (min-width: 750px) {
.write-answer-input{
  font-size: 2.5rem;
  font-weight: 600;
}
}

#write-answer-modal-dialog .close {

  text-align: right;
  /* margin-top: 0px; */
  /* float: right; */
  position: absolute;
  right: 0px;
  /* top: 15px; */
  margin-right: 10px;
  /* width: 25%; */
  /* margin-bottom: -25px; */
  z-index: 900;
  color: black;
}
#write-answer-modal-dialog .modal-content{
  overflow: hidden;
border-radius: 1.1rem!Important;
}

textarea, textarea:focus {
  border: none !important;
  overflow: auto !important;
  outline: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

  resize: none !important; /*remove the resize handle on the bottom right*/
}



#game-state-display {
  opacity: 0;
  transition: 0.2s
}


.name-cards-container {
  width: 100vw;
}

@media screen and (min-width: 760px) {

  .name-cards-container {
    width: 100%;
  }
  
  .name-cards-container .x-scrolling-wrapper {
    display: block;
    float: left;
  }

}


.hateful-watermark {
  position: absolute;
  bottom: 10px;
  font-weight: 700;
}

.pick-indicator {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


#game-state-display a, #game-state-display a:hover, #game-state-display a:active{
  text-decoration: none;
  color: inherit;
}

.hover-effect-grow {
transition: 0.1s;
transform: scale(1.0);

}

.hover-effect-grow:hover {

  transform: scale(1.03);

}

.answers-cover {
position: relative;
z-index: 10;
opacity: 25%;
background-color: black;
width: 100%;
}

#card-backs .game-card {
  display:block;
}

.master-card-backs > .card-back-answer-group{
  float:left;
  display: block;
  
}
.master-card-backs{
  display: block;
}

.answer-grouping-container {
  display: flex;
  width: min-content;
  padding: 5px;
  margin: 10px;
  margin-top: 4px;
  border: 5px solid;
  border-radius: 1rem;
  float: left;

}


@media screen and (max-width: 350px) {
  .answer-grouping-container {
    margin-left: -5px;
  }
}


.btn-slide-out-legend {
overflow: hidden;
white-space: nowrap;
z-index: -10;
transition: 0.35s;

transition-timing-function: ease-in-out;

}
.btn-slide-out-legend small {

  z-index: 0; margin-left: 40px;
  
  }
.btn-slide-out-legend:after {
  content: '\A';
  position: absolute;
  width: 100%; 
  height:100%;
  top:0; 
  left:0;
  z-index: -5;
  background:rgba(0,0,0,0.5);
  opacity: 0.5;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  
  }

  @media screen and (max-width: 480px) {
    .confirm-answer-cards {
      padding-left: 60px;
    }
  }