body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  



  /*
   * Content
   */

.sidebar-profile {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 10px;
}

  
  [role="main"] {
    padding-top: 10px; 
  }
  
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .topbar-announcements {
    padding: 10px;
  }


  /* Game Styles */


/* card styles */
.question-card {

  background-color: black;
  color: white;
  width: 130px;
  height: 200px;
}
.answer-card {
  background-color: white;
  color: black;
  height: 175px;
  width: 115px;
}


/* XS */

.x-scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 5px 10px 5px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.x-scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
.x-scrolling-wrapper .card {
  flex: 0 0 auto;
}




.game-card {

  margin: 3px;
  -webkit-box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
  -moz-box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
  box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
}
.game-card-body {
  padding: 10px !important;
  font-size: 0.7rem;
  white-space: normal;
}
.card-text-question {
  font-weight: 400;
}
.card-text-answer {
  font-weight: 400;
}
.card-chosen-answer{
  height: 175px;
  width: 115px;
}

.card-backs.x-scrolling-wrapper {
  display: block;
  width: 100%;
  transform: translateY(-11px);
  padding: 10px 5px 15px 5px;
  margin: auto!important;
}
.card-backs.x-scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.card-back {
  width: 50px;
  height: 75px;
  border-radius: 6px;
}
.back-answer-pair {
float: left;

}
.card-back .game-card-body{
  padding: 5px !important;
  top: 20%;
  text-align: center!important;
  position: absolute;
  font-size: 0.55rem;
}


.pick-2-back{
 margin-top: -50px;
}

.backs-row {
  width: max-content;
  float: left;
}

@media screen and (min-height: 700px) and (min-width: 350px) {

#my-cards .x-scrolling-wrapper {
  display: block;
  width: 100%;
  padding: 10px 5px 10px 5px;
  margin: auto!important;
}
#my-cards .x-scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
#my-cards  .x-scrolling-wrapper .card {
  float: left;
}

}
@media screen and (min-width: 350px) and (max-width: 405px) {
  .answer-card { 
    width: 100px;    
    height: 160px;
  }
}
@media screen and (min-width: 770px) {
  /* SM */
  #answer-table {
    padding-left: 30px;
  }
  .answer-card {
    width: 190px;
    height: 280px;
  }
  .question-card {
    width: 200px;
    height: 290px;
  }
  .game-card-body {
    padding: 17px !important;
    font-size: 1rem;
  }
  .card-text-question {
    font-weight: 600;
  }
  .card-text-answer {
    font-weight: 600;
  }
  .card-chosen-answer{
    height: 235px;
    width: 160px;
  }
  .card-back {
    width: 75px;
    height: 113px;
    border-radius: 8px;
  }
  .card-back .game-card-body{
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.6rem;
  }


}


@media screen and (min-width: 991px) {
/* MD */
#answer-table .x-scrolling-wrapper {
  display: block;
  width: 100%;
  padding: 10px 5px 10px 5px;
  margin: auto!important;
}
#answer-table .x-scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
#answer-table .x-scrolling-wrapper .card {
  float: left;
}

}

@media screen and (min-width: 1350px) {
/* LG */
#my-cards .x-scrolling-wrapper .card {
    margin: 25px;
    transform: scale(1.15);
}
.x-scrolling-wrapper .card-chosen-answer {
  margin: 20px;
  transform: scale(1.10);
}
.x-scrolling-wrapper .card.card-back {
  margin: 15px 10px;
  transform: scale(1.10);
}
.question-card {
  width: 230px;
  height: 320px;
}
.pick-2-back{
  margin-top: -70px !important;
 }

}

.current-question {
  margin: auto !important;

}


/* Card wrappers */
/* */

.contacts_body{
  padding:  0rem 0rem ;
}

.contacts{
  list-style: none;
  padding: 0;
}
.contacts li{
  width: 100% !important;
  padding: 5px 5px;
  margin-bottom: 5px;
}
.x-scrolling-wrapper .contacts{
  
  display: flex;
  flex-wrap: nowrap;
  padding: 0px 0px 0px 0px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.x-scrolling-wrapper .contacts li{
width: max-content!important;
margin: 0 5px;
}
.x-scrolling-wrapper span, .x-scrolling-wrapper p {
  color:white!important;
}
.navbar .x-scrolling-wrapper {
  padding-top: 0px;
  padding-left: 0px;
}

.user-image{
  height: 50px;
  width: 50px;
  -webkit-box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
  -moz-box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
  box-shadow: 0px 4px 11px -9px rgba(84,84,84,0.73);
}
.user_info{
  margin-left: 10px;
}
.user_info span{
  font-size: 0.85rem;
  color: black;
}
.user_info p{
font-size: 0.65rem;
margin-bottom: 0px !important;
color: rgba(0, 0, 0, 0.6);
}

.active {
  background-color: black;
  border-radius: 150px;
}
.active i {
  color: gold;
}
.active span, .active p  {
  color:white!important;
}
.active span {
  font-weight: 900;
}
.active .user-image{
  border: 5px solid white;
}


.game-password span{
  font-weight: 900;
  font-size: 1rem;
  color: black;
}
.game-password p{
font-size: 1rem;
color: rgb(73, 73, 73);
}






@media screen and (orientation:portrait) { 
  #write-answer-modal-dialog, #write-answer-modal-content {
  width: 90% !important;
  margin: auto;
} 
}
 @media screen and (orientation:landscape) { 
  #write-answer-modal-dialog, #write-answer-modal-content {
    
    height: 90% !important;
    margin: auto;
  } 
  }

#write-answer-modal-dialog .modal-body {
  padding: 0px!important;
}

.write-answer-input{
  padding: 25px 30px;
  font-size: 1.4rem;
  color: black!important;
  font-weight: 800;
  height: 100%!important;
}
@media screen and (min-width: 750px) {
.write-answer-input{
  font-size: 2.5rem;
  font-weight: 600;
}
}

#write-answer-modal-dialog .close {

  text-align: right;
  /* margin-top: 0px; */
  /* float: right; */
  position: absolute;
  right: 0px;
  /* top: 15px; */
  margin-right: 10px;
  /* width: 25%; */
  /* margin-bottom: -25px; */
  z-index: 900;
  color: black;
}
#write-answer-modal-dialog .modal-content{
  overflow: hidden;
border-radius: 1.1rem!Important;
}

textarea, textarea:focus {
  border: none !important;
  overflow: auto !important;
  outline: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

  resize: none !important; /*remove the resize handle on the bottom right*/
}



#game-state-display {
  opacity: 0;
  transition: 0.2s
}